<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="habits">
        <h1>Habits</h1>
        <ul>
          <% @habits.each do |habit| %>
          <li><h6>Title: <%= habit.title %>
            <% if policy(habit).edit? %>
              <%= link_to "Details", habit_path(habit[:id]) %> |
            <% end %>
            <% if policy(habit).destroy? %>
              <%= link_to "Delete", habit_path(habit[:id]), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </h6></li>
          <ul>
            <li><h6>Details: <%= habit.details %></h6></li>
            <li><h6>Category: <%= habit.category %></h6></li>
            <li><h6>Category: <%= habit.user_id %></h6></li>
          </ul>
          <% end %>
        </ul>
      </div>

      <div class="links">
        <% if policy(Habit).new? %>
          <%= link_to "Add new habit", new_habit_path %>
        <% end %>
      </div>

    </div>
  </div>
</div>
