<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_path 'paul-trienekens-419330-unsplash.jpg' %>);">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div class="places">
          <div class="places-name">
          <h2><%= @place.name %></h2>
          </div>
        <div class="places-address">
          <i class="fas fa-map-pin icons-pin"></i></i> <%= @place.address %>
          </div>
        </div>

        <div class="links">
          <%= link_to "Edit", edit_place_path %> | <%= link_to "Back", places_path %>
        </div>

      </div>
    </div>
  </div>
</div>
